<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<P> This is the home page where you will be able to purchase items that are available on the website.</p>

  <ul>
    <li> Clothing</li>
    <li> Electronics
      <ol>
        <li> Cell Phones </li>
          <li> Laptops</li>
            <li> Other</li>
            Help
      </ol>
    </li>
  </ul>
